{% extends 'base.html' %} 
{% block title %}404. Ссылка не найдена.{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">Такую ссылку еще не завезли :(</h1>
        <p>Если она и была, то теперь ее уже нет.</p>
        <p>Ее не вернуть, поэтому лучше создай новую ссылку.</p>
        <p>↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓</p>
          <a href="{{ url_for('short_links.index_view') }}">Создать новую ссылку</a>
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.png') }}" alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %}